/*CSS reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #FFCA3A;
}
body {
	height: 100vh;
	background-image: url(../images/landing.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #333;
}

h1 {
	font-family: 'Courgette', serif;
}

p {
	font-family: 'Lato', serif;
	margin-bottom: 0;
	font-size: 1em;
}

html {
	scroll-behavior: smooth;
}


/*.logo {
	top: 0;
	width: 130px;
	position: absolute;
	transform: translate(-50%, -50%);
	border: 2px dashed transparent;
	border-radius: 100%
}*/

nav {
	font-family: 'Caveat', cursive;
	border-bottom: 5px solid #2a9df4;
}

nav h2 {
	font-family: 'Courgette', serif;
	color: #efefef;
}

nav li {
	font-size: 32px;
}

nav .navbar-nav li a{
  	background: -webkit-linear-gradient(#FFCA3A, blue);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	font-weight: bold;
  }

.bg-custom-1 {
	background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.container-fluid {
	height: 100vh;
	background-color: transparent;
	text-align: center;
	color: white;
  	text-shadow:
		   	-1px -1px 0 #000,  
		    1px -1px 0 #000,
		    -1px 1px 0 #000,
		    1px 1px 0 #000;
}

.container {
	height: 75vh;
	width: 75%;
	margin-top: 20vh;
	background-color: transparent;
	text-align: center;
	color: white;
  	text-shadow:
		   	-1px -1px 0 #000,  
		    1px -1px 0 #000,
		    -1px 1px 0 #000,
		    1px 1px 0 #000;
}

.jumbotron {
	background-color: rgba(23, 97, 217, 0.25);
	border-radius: 10%;
	border: 0;
	box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2)
}

.col-md-6 {
	float: left;
}

.btn {
	border-color: white;
	background: linear-gradient(to right, #2a9df4, #1167b1);
	font-family: 'Montserrat Alternates', sans-serif;
}

.btn > a {
	color: white;
	text-decoration: none;
}


.carousel-item {
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center;
	background: no-repeat center center scroll;
	border: 5px double #f2f2f2;
}

.carousel-indicators > li {
	height: 10px;
	width: 30px;
	background-color: #03a9f4;
}
/*home page*/
.homepage {
	height: 80vh;
	border-radius: 100%;
	margin: 5%;
	/*padding-left: 15%;*/
	margin-left: 15%;
}

#carousel-home {
	border-right-color: black;
	height: 100%;
	margin-top: 5%;
	margin-right: 5%;
}


/*parallax effect*/
.hp1 {
	background-image: url(../images/LCP.jpeg);
	min-height: 300px;
	/*parallax scrolling effect*/
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.hp2 {
	background-image: url(../images/landing.jpg);
	/*min-height: 300px;*/
	/*parallax scrolling effect*/
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.hp2 > ul {
	list-style: none;
	font-size: 2em;
}

.hp3 {
	background-image: url(../images/activityimg5.jpg);
	min-height: 300px;
	/*parallax scrolling effect*/
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


.cmap {
	width: 100%;
}

.location-container {
	height: 50vh;
}

.d-instruction {
	margin-top: 5%;
	margin-bottom: 5%;
}

.d-instruction p {
	padding: 3%;
	background-color: rgba(83, 161, 233, 0.8);
	border: 2px double white;
}

.location {
	float: right;
}

footer > p {
	font-size: 18px;
}

/*end home page*/

 /*about page*/
.carousel-inner > .carousel-item > img {
	height: 70vh;
}

.carousel-caption {
    top: 0;
    bottom: auto;
    position: absolute;
}

.sched,
.carousel-item > img {
	height: 550px;
    width: 100%;
    background: black;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden; 
}

.sched > button {
	margin-top: 55vh;
	margin-left: 45%;
	position: absolute;
}

.sched {
	background: none;  /* fallback colour. Make sure this is just one solid colour. */
/*    background-image: url(../images/backdraft.jpg);
    background-size: 80%;*/
    /*background: -webkit-linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url("../images/backdraft.jpg");*/
	/*background: linear-gradient(rgba(29, 38, 113, 0.4), rgba(195, 55, 100, 0.4)), url("../images/backdraft.jpg");*/
}
.sched > img {
	height: 85vh;
	margin-top: 2%;
	margin-left: 15%;
}


.card {
	background-color: #4a90d1;
	height: 40vh;
	overflow: hidden;
	position: center;
	border: none;
}

.card img {
	height: 35vh;
	width: 300px;
	border: 5px double white;
}

#rp {
	width: 120px;
}

#lp {
	width: 120px;
}

.card-subtitle h6 {
	text-shadow: none;
	text-decoration: none;
}

.card-title {
	margin-top: 15%;
}

.speakers {
	background-color: #3a70a3;
}

.church-history {
	background-color: #3a70a3;
}


/*media queries |should always placed last*/
/*mobile styling*/
@media only screen and (max-width: 400px) {
	body {
		height: 100vh;
	}

	/*landing*/
	.jumbotron h1, .jumbotron small {
		visibility: hidden;
	}

	.col-sm-6 {
		/*background-image: url(../images/LClogo.jpg);*/
		background-size: cover;
		background-size: 90%;
		background-repeat: no-repeat;
		background-position: top;
		border-top-left-radius: 12%;
		border-top-right-radius: 12%;
	}

	.jumbotron {
		color:
		height: 75%;
		/*margin-top: 15%;*/
		/*margin-bottom: 15%;*/
		border-radius: 15px;
	}

	.container-fluid {
		height: 50%;
	}

	.hp1,
	.hp2,
	.hp3 {
		background-attachment: scroll;
	}
	/*end of landing*/

	/*home page*/
	.homepage {
		height: 42vh;
	}

	#carousel-home {
		margin-left: 5%;
	}

	form {
		margin-bottom: 5%;
	}

	nav h2 {
		font-size: 18px
	}

	.custom-toggler .navbar-toggler-icon {
		background-image: url(../images/LClogo1.png);
	}

	nav li {
		font-size: 18px;
		float: right;
	}

	.hp1 > p {
		font-size: 1em;
	}

	.hp2 > ul {
		font-size: 16px;
	}

	.hp3 > p {
		font-size: 1em;
	}

	.d-instruction > button {
		margin-bottom: 5%;
	}

	.map > iframe {
		height: 50vh;
		width: 300px;
		object-fit: cover;
	}

	.fixed-bottom {
		position: relative;
	}

	.location-container {
		height: 100vh;
		margin-bottom: 5%;
	}

	footer {
		font-size: 12px;
	}

	.d-instruction > p {
		font-size: 1em;
	}


	/*end home*/

	/*about*/
	.container-fluid {
		margin-top: 0;
	}

	.card {
		margin-bottom: 5%;
	}

	.smc {
		display: block;
	}

	.sched > img {
		display: none;
	}

	.sched {
		height: 30vh;
	}
	
	.sched > button {
		margin-top: 10vh;
		margin-left: 15vh;
	}
	
	.church-history > p {
		font-size: 1em;
	}

	.church-history > .lead {
		font-size: 20px;
	}

	.speakers > ul > li > img {
		height: 15vh;
		border: 3px double white;
		margin-bottom: 2%;
	}

	footer > p {
		font-size: 1em;
	}
}


/*tablet styling*/
@media only screen and (min-width: 401px) and (max-width: 960px) {
	.container-fluid {
		margin-top: 100vh;
		background-size: cover;
		background-position: center;
	}

	.jumbotron {
		height: 100%;
	}

	.hp1,
	.hp2,
	.hp3 {
		background-attachment: scroll;
	}

	/*home*/

	.home-content > .hp1 > p {
		font-size: 24px;
	}

	.homepage {
		height: 30vh;
	}

	#carousel-home {
		height: 30vh;
	}

	.carousel-inner > .carousel-item > img {
		height: 30vh;
	}

	.container-fluid {
		margin-top: 5%;
		height: 35vh;
	}

	/*about*/


	.container {
		margin-top: 0;
		height: 40vh;
	}

	.card-body{
		width: 225px;
	}
	
	.card-body > img {
		width: 205px;
	}

/*	.mcc {
		display: absolute;
		display: none;
	}*/

	.sched > img {
		height: 45vh;
		margin-left: 0;
	}

	.sched > button {
		margin-top: 28vh;
	}

	.location-container {
		width: 550px;
		height: 40vh;
	}

	.d-instruction > p {
		font-size: 1em;
	}

	.map > iframe {
		height: 35vh;
		width: 450px;
	}
}


/*desktop styling*/
@media only screen and (min-width: 961px) {
	.btn {
		transform: perspective(500px);
		text-shadow: 6px 3px 2px rgba(0, 0, 0, 0.2);
		box-shadow: 2px 0 0 5px rgba(0, 6, 194, 0.2);
		transition: 0.5s;
		position: relative;
		overflow: hidden;
		}

	.btn:hover {
		transform: perspective(500px);
		text-shadow: -6px 3px 2px rgba(0, 0, 0, 0.2);
		box-shadow: -2px 0 0 5px rgba(0, 6, 194, 0.2);
		animation: paused;
		text-decoration: none;
		}

	.btn::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background: linear-gradient(to right, transparent, white, transparent);
		left: -100%;
		transition: 0.5s;
		}

	.btn:hover::before {
		left: 100%;
		text-decoration: none;
		}
	}

	.smc {
		display: none;
	}
}





